<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="WSHttpBinding_ICommonService">
                    <reliableSession inactivityTimeout="04:00:00" enabled="true" />
                    <security mode="None" />
                </binding>
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://10.62.170.2:9091/CommonService.svc"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ICommonService"
                contract="ICommonService" name="WSHttpBinding_ICommonService">
                <identity>
                    <dns value="localhost" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>