<?xml version="1.0" encoding="utf-8" ?>
<appSettings>

  <!--备份文件夹定时器间隔默认300秒，5分钟-->
  <add key="BakInterval" value="300"/>

  <!--备份文件夹目标路径-->
  <add key="DestDirectory" value="D:\MIB\SysBak\"/>

  <!--主界面每行放置工位个数-->
  <add key="StationCount" value="5"/>

  <!--PLC配置文件存放路径-->
  <add key="PLC_ini_Path" value="Settings\ADS.ini"/>
  
  <!--腔体个数-->
  <add key="CavityCount" value="5"/>
  
  <!--腔体层数-->
  <add key="LayersCount" value="8"/>

  <!--一层板电池排数-->
  <add key="RowCountOfLayers" value="40"/>

  <!--一层板电池列数-->
  <add key="ColumnCountOfLayers" value="4"/>

  <!--每层板电池数-->
  <add key="CellCountOfLayers" value="160"/>

  <!--小车数量-->
  <add key="CarCount" value="8"/>
  
  <!--小车编码数组长度-->
  <add key="CarCodingCount" value="1500"/>

  <!--小车编码第一辆车起始位置-->
  <add key="CarCodingStart" value="6001"/>
  
  <!--是否调试状态，1是 0否-->
  <add key="IsDebug" value="1"/>

  <!--倍福PLC IP-->
  <add key="BFPLCIP" value="192.168.11.5.1.1"/>

  <!--倍福PLC 端口-->
  <add key="BFPLCPort" value="801"/>

  <!--机器类型  0未知，1小腔体，2陈化炉，3单体炉，4.比亚迪单体炉-->
  <add key="MachineType" value="4"/>

  <!--是否开启Mes-->
  <add key="IsOpenMes" value="1"/>

  <!--是否开启开机校验-->
  <add key="IsOpenStartCheck" value="0"/>

  <!--是否腔体没有小车记录温度   1是  0 否-->
  <add key="IsSaveFile" value="1"/>

  <!--单体炉类型   专用于重庆冠宇 单体炉，因为后期设备比早期设备多了一个上料和下料位     0 正常    1 加 上料位和下料位-->
  <add key="SingleFurnanceType" value="0"/>

  <!--PLC程序集名称-->
  <add key="PlcAssemblyName" value="DC.SF.Model" />

  <!--PLC类名-->
  <add key="PlcClassName" value="OMLPLCFinsTcp_Client" />

  <!--PLC类型，请确保与上面的“PLC类名”指向同一款PLC   倍福-Beckhoff，欧姆龙-Omron ,汇川-Inovance,三菱-Mitsubishi-->
  <add key="PlcType" value="Beckhoff"/>

  <!--从PLC读取的数组是否小端格式-->
  <add key="IsLittleEndian" value="false" />

  <!--是否开启保存温度，在设备初始调试时，给电气和生产质检使用，1，开启 0，关闭-->
  <add key="IsOpenSaveTemperature" value="1"/>
  
  <!--BYD 状态ID 留空未用--><!--
  <add key="BYD_MESActionID" value=""/>
  --><!--BYD 检测类型ID--><!--
  <add key="BYD_MESCheckType" value="5"/>
  --><!--BYD 工站ID--><!--
  <add key="BYD_MesTerminalID" value="ZPHK-CQ-81"/>
  --><!--BYD 设备编号规定 CQ(重庆) HK(烘烤) 5(5号厂房) 3(3楼) 08(烘烤08线 )--><!--
  <add key="BYD_MesEquipmentID" value="CQHK5308"/>-->
</appSettings>